<?php

return [
    'ePNAccount' => '080880',
    'RestrictKey' => 'yFqqXJh9Pqnugfr',
    'email' => 'mygmail@gmail.com',

    'card' => [
        'number' => '4111111111111111',
        'exp_month' => '02',
        'exp_year' => '18',
        'security_code' => '100',
    ],
];
